{% extends "base.html" %}
{% from "macros.html" import render_field, render_select %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="panel">
  <form method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6">{{ render_field(form.name) }}</div>
      <div class="col-md-6">{{ render_field(form.email) }}</div>
      <div class="col-md-6">{{ render_field(form.password) }}</div>
      <div class="col-md-6">{{ render_field(form.phone) }}</div>
      <div class="col-md-6">{{ render_field(form.college) }}</div>
      <div class="col-md-6">{{ render_field(form.branch) }}</div>
      <div class="col-md-4">{{ render_field(form.year) }}</div>
      <div class="col-md-4">{{ render_field(form.joining_date) }}</div>
      <div class="col-md-4">{{ render_field(form.ending_date) }}</div>
      <div class="col-md-12">{{ render_field(form.address) }}</div>
      <div class="col-md-6">{{ render_select(form.mentor_id) }}</div>
      <div class="col-md-6">{{ render_select(form.status) }}</div>
      <div class="col-md-6">{{ render_field(form.github) }}</div>
      <div class="col-md-6">{{ render_field(form.linkedin) }}</div>
      <div class="col-md-6">{{ render_field(form.profile_image) }}</div>
      <div class="col-md-6">{{ render_field(form.resume) }}</div>
    </div>
    <div class="d-flex gap-2">
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('admin.interns') }}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
